# Dependencies
node_modules/
*/node_modules/

# Production Builds
dist/
*/dist/
build/
*/build/

# Environment Variables & Secrets
.env
.env.local
backend/.env

# Databases & Storage
*.db
*.db-journal
backend/prisma/dev.db
backend/storage/resources/*
backend/storage/assignments/*
backend/storage/marketplace/*
backend/storage/avatars/*
backend/storage/general/*
!backend/storage/roster_data.json
!backend/storage/.gitkeep

# System & OS Files
.DS_Store
Thumbs.db
*.log
.vscode/
